
/* h1 text style */
.h1-text {

    color:blue;
    font-family: Verdana;
    text-shadow: 1px 1px 2px #111111;
    text-align: center;

}

/* Aligns all <div> to be centered */
div {
    text-align: center;
}

/* Button style = Click Me! */
.buttonClick {
    
    width: 15%;
    border: solid 1px black;
    background-color: green;
    padding: 10px 30px;
    color: black;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

}

/* Button style = Reset! */
.buttonReset {
    
    width: 15%;
    border: solid 1px black;
    background-color: lightcoral;
    padding: 10px 30px;
    margin-top: 50px;
    color: black;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

}

/* Hover effect on button */
button:hover {
   background-color: #111111;
   color: orange; 
}